.portfolio-item .portfolio-link {
    
    & img.img-fluid {
        width: 100%;
        max-height: 70vw;
        object-fit: cover;
        object-position: center;
    }
    
    @media (min-width: 768px) {
        aspect-ratio: 5 / 3;
    
        & img.img-fluid {
            height: 100%;
            width: 100%;
        }
    }
}

.portfolio-modal .modal-content img {
    @media (min-width: 768px) {
        max-width: 65%;
        min-width: 21rem;
        max-height: 21rem;
    }
}